.vscode
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy
seed-tests/seed-copy-new-git-repo/**/*.*
!demo/references.d.ts
demo/lib
demo/platforms
node_modules
publish/src
publish/package
demo-vue/app/app.js
demo-vue/.migration_backup
demo-vue/platforms